<h1>kana-loop</h1>
<ol>
  <li>이 어플리케이션은 음성을 듣고 정답을 <b>빠르게</b> 맞추는 프로그램입니다. 일본어 청음, 탁음, 반특음을 포함해 히라가나와 가타카나, 합쳐서
    가나글자 총 72개를 암기하는 것이 이 어플리케이션의 목표입니다.</li>
  <li>사용자 이름을 누르면 현재 학습 진행 상황을 알 수 있습니다.</li>
  <li>'스키너(B. F. Skinner)의 즉각적 강화 이론에 따르면 <b>빠른 반응</b>과 <b>피드백</b>이 학습속도에 영향을 준다고 합니다. 반응 속도가 느린 단어를 위주로 테스트 합니다.</li>
  <li>에빙하우스(Hermann Ebbinghaus)의 망각곡선에 따르면 빠른 복습이 학습에 도움이 된다고 합니다. 개인 복습 주기를 관리합니다.</li>
  <li><b>학습 진행 상황</b>은 사용자의 이름(또는 ≡)을 통해 확인 할 수 있습니다.</li>
  <li>관리자는 사용자의 이름, 메일주소, 마지막 접속 시간, 구글 고유 식별값(UID), 퀴즈 이용 기록, 각 글자별 학습현황, 사용자의 평균 반응 속도, 사용자의 최근 평균 반응 속도를 열람 할 수
    있습니다.</li>
</ol>